
@font-face {
  font-family: Rubik;
  src:url('./fonts/Rubik.ttf');
}

:root{
	--Blue: #2C45A3;
	--Yellow: #FF9200;
	--Cyan: #00FFFF;
	--Black: #15202B;
	--Red: #FE2C55;
	--Purple: #7D3CFF;
	--SandTan: #E1B382;
	--White: #F2F2F2;
	--Niagara: #03A87C;
	--LightDark: #717272;
	--Shaft: #292929;
	--ForeGround: #aaa;
	--fontPrimary: 21px;
	--fontLarge: 40px;
	--fontSmall: 16px;
	--fontTiny: 13px;
	--ShaftI: #C5C5C5;
}
@media only screen and (max-width: 768px){
  :root{
    --fontLarge: 30px;
    --fontPrimary: 16px;
    --fontSmall: 14px;
  }
}

body {
    background: #343434;
    color: var(--White);
    margin: 0;
    padding: 0;
    font-size: var(--fontPrimary);
  font-family: Rubik, sans-serif;
}
.imgContainer{
  border-radius: 10px;
  overflow: hidden;
}
.imgContainer > img{
  position: relative;
  display: block;
}
img{
  cursor: pointer;
}
.hv_border{
  position: relative;
}
.hv_border:after{
  position: absolute;
  content: '';
  width: 50%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--LightDark);
  transition: width .5s;
}
.hv_border:hover:after,
.hv_border:focus:after{
  width: 100%;
}
@keyframes notify{
  0%{
    transform: translateY(50px);
    opacity: 0;
  }10% {
    transform: translateX(0);
    opacity: 1;
  }80%{
    transform: translateY(0);
    opacity: 1;
  }100%{
    transform: translateY(50px);
    opacity: 0;
  }
}

.notifyCenter{
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  margin: 20px;
  z-index: 3;
}
.notify{
  bottom: 0;
  background: var(--Niagara);
  padding: 10px 20px;
  border-radius: 50px;
  margin: 10px 0;
  border: 1px solid rgba(255,255,255,0.5);
  box-sizing: border-box;
  animation: notify 3s;
  opacity: 0;
  transform: translateY(100px);
  font-size: var(--fontSmall);
}
.notify.error{ background-color: var(--Red); }
.notify.warning{ background-color: var(--Yellow); }
@keyframes zoomSet{
  0% {transform: scale(2.5);}
  100%{transform: scale(1);}
}
.bookmarkIcon.active{
  color: var(--White);
  opacity: 1;
  animation: zoomSet .3s;
  color: var(--Niagara) !important;
}