.Question{
  padding: 2vw;
}
.description{
  font-size: 16px;
  margin: 5px 0;
  line-height: 21px;
  letter-spacing: 1px;
}
.questionTitle{
  font-size: var(--fontPrimary);
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  position: relative;
}
.questionTitle > a{
  transition: opacity .5s;
}
.questionTitle > a:hover{
  opacity: 0.7;
}
.Question a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
.questionInfo{
  font-size: var(--fontTiny);
  position: relative;
  width: 100%;
}
/* on modification: also modify this element from profile.css */
.tag{
  position: relative;
  display: inline-block;
  border: 1px solid var(--LightDark);
  background: var(--LightDark);
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--LightDark);
  margin: 3px;
  padding: 2px 10px;
  border-radius: 5px;
  transition: opacity .5s;
}
.tag:hover, .tag:focus{
  opacity: 0.8;
}
.quickAction{
  float: right;
  color: var(--LightDark);
}
.quickAction > *{
  font-size: var(--fontSmall);
  cursor: pointer;
  margin: 5px;
  transition: color .5s;
}
.quickAction > *:hover{
  color: var(--White);
}
.qn_status{
  color: var(--Yellow);
}
