#Main{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
}
.threadSection{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  max-width: 950px;
  margin: 2vh 7vw;
}

.Question{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Answer{
  margin: 20px 0;
  background: var(--Shaft);
  padding: 20px 10px;
  border-radius: 10px;
}
.author{
  display: table;
}
.avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.authorIntro{
  font-size: var(--fontSmall);
  color: var(--LightDark);
}

.authorName{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.ans_content{
  margin-top: 15px;
  font-size: var(--fontPrimary);
  line-height: calc(var(--fontPrimary) * 1.3);
  letter-spacing: 1.2px;
}
.impression{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  margin-top: 20px;
}
.meta{
  margin-right: 10px;
  font-size: var(--fontSmall);
  color: var(--LightDark);
  text-decoration: none;
}
.Question .meta{
  font-size: var(--fontTiny);
}
.reply_to_ans:after{
  content: ' Reply';
  font-family: Rubik, sans-serif;
}
.clapIcon{
  width: var(--fontPrimary);
  border: 1px solid;
  padding: 10px;
  font-size: var(--fontPrimary);
  border-radius: 50%;
  cursor: pointer;
  transition: color .5s;
  color: inherit;
}
.clap_container.active,
.clap_container:hover,
.reply_to_ans:hover{
  color: var(--White);
  transition: color .5s;
}
.Question{
  border-bottom: 2px solid var(--LightDark);
}
.description{
  margin-top: 15px;
  margin-bottom: 15px;
}
.tagContainer{
  margin-bottom: 15px;
}
.asker_name{
  text-decoration: underline !important;
}