#Main{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
.threadSection{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  max-width: 950px;
  margin: 2vh 7vw;
}
.Answer{
  margin: 20px 0;
  background: var(--Shaft);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 3vw;
}
.avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.authorIntro{
  font-size: var(--fontSmall);
  color: var(--LightDark);
}

.authorName{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.impression{
  margin-top: 20px;
}
.meta{
  margin-right: 10px;
  font-size: var(--fontSmall);
  color: var(--LightDark);
  text-decoration: none;
  user-select: none;
}
.Question .meta:last-of-type{
  float: right;
}
.Question .meta{
  font-size: var(--fontSmall);
}
.reply_to_ans:after{
  content: ' Reply';
  font-family: Rubik, sans-serif;
}
.questionTitle{
  border-bottom: 1px solid var(--LightDark);
  display: inline-flex !important;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.description{
  margin-top: 15px;
  margin-bottom: 15px;
}
.tagContainer{
  margin-bottom: 15px;
}
.asker_name{
  text-decoration: underline !important;
}
.inp{
  width: 100%;
  margin: 15px 0;
  background: inherit;
  border: 1px solid var(--LightDark);
  color: var(--White);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: var(--fontSmall);
  letter-spacing: 1px;
  letter-spacing: 1.3px;
  line-height: calc(var(--fontSmall) * 1.3);
  outline: none;
  box-sizing: border-box;
}
.toolbar{
  display: block;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  border: 1px solid var(--LightDark);
}
textarea{
  height: 250px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#PostSubmit{
  background: var(--Niagara);
  border-color: var(--Niagara);
  font-weight: bold;
  font-size: var(--fontPrimary);
  cursor: pointer;
  transition: background .5s;
  max-width: 220px;
}
#PostSubmit:hover,
#PostSubmit:focus{
  background: transparent;
}

#AnswersContaner{
  display: inline-flex;
  flex-flow: column-reverse wrap;
  position: relative;
  width: 100%;
}
.clapIcon{
  text-align: center;
  padding-left: 10px;
  font-size: var(--fontSmall);
  border-left: 1px solid rgba(200, 200, 200, 0.15);
}
.Answer .clapIcon{
  float: right;
}
.clap_icon{
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--LightDark);
    border-radius: 50%;
    cursor: pointer;
    font-size: var(--fontPrimary);
    color: var(--White);
    background: var(--Shaft);
    box-shadow: 5px 5px 10px 2px rgba(141, 141, 141,.1);
    transition-duration: .3s;
    transition-property: transform, background, scale;
}
.clap_icon.inactive:hover{
    scale: 1.2;
    transform: rotateZ(-30deg);
    background: var(--Niagara);
}
.clap_icon.active{
  background: var(--Niagara) !important;
}
.meta{
  position: relative;
  color: var(--LightDark) !important;
}
.Question{
  padding-bottom: 10px !important;
}
.edit_icon,
.edit_icon{
  cursor: pointer;
}
.edit_icon{
  color: inherit;
  text-decoration: none;
  float: right;
}


.trixContainer{
  height: 300px;
  overflow: auto;
  border: 1px solid var(--LightDark);
  margin: 30px 0;
  position: relative;
  display: block;
}