#Main{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
}
.threadSection{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  max-width: 950px;
  margin: 2vh 7vw;
}

.Question{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Answer{
  margin: 20px 0;
  background: var(--Shaft);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 3vw;
}
.author{
  display: table;
}
.avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.authorIntro{
  font-size: var(--fontSmall);
  color: var(--LightDark);
}

.authorName{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.impression{
  margin-top: 20px;
}
.meta{
  margin-right: 10px;
  font-size: var(--fontSmall);
  color: var(--LightDark);
  text-decoration: none;
}
.Question .meta{
  font-size: var(--fontSmall);
}
.reply_to_ans:after{
  content: ' Reply';
  font-family: Rubik, sans-serif;
}
.clapIcon{
  width: var(--fontPrimary);
  border: 1px solid;
  padding: 10px;
  font-size: var(--fontPrimary);
  border-radius: 50%;
  cursor: pointer;
  transition: color .5s;
  color: inherit;
}
.clap_container.active,
.clap_container:hover,
.reply_to_ans:hover{
  color: var(--White);
  transition: color .5s;
}
.questionTitle{
  padding-bottom: 15px;
  border-bottom: 1px solid var(--LightDark);
}
.description{
  margin-top: 15px;
  margin-bottom: 15px;
}
.description a{
  color: var(--Niagara) !important;
  text-decoration: underline !important;
}
.description h1,
.description h2{
  font-size: 22px;
}
.tagContainer{
  margin-bottom: 15px;
}
.asker_name{
  text-decoration: underline !important;
}

/* there is also input element in navbar */
#Main  input, textarea{
  width: 100%;
  margin: 15px 0;
  background: inherit;
  border: 1px solid var(--LightDark);
  color: var(--White);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: var(--fontSmall);
  letter-spacing: 1px;
  letter-spacing: 1.3px;
  line-height: calc(var(--fontSmall) * 1.3);
  outline: none;
  box-sizing: border-box;
}
.toolbar{
  display: block;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  border: 1px solid var(--LightDark);
}
textarea{
  height: 250px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Win the selector of input */
.writerSection #PostSubmit{
  background: var(--Niagara);
  border-color: var(--Niagara);
  font-weight: bold;
  font-size: var(--fontPrimary);
  cursor: pointer;
  transition: background .5s;
  max-width: 220px;
}
#PostSubmit:hover,
#PostSubmit:focus{
  background: transparent;
}

.description code{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--LightDark);
  display: inline-block;
}