#Main{
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.QuestionFeed{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 10px;
  height: 100%;
  max-width: 950px;
  border-left: 2px solid rgba(155, 155, 155, 0.3);
  border-right: 2px solid rgba(155, 155, 155, 0.3);
  padding: 0 2vw;
}

.Question{
  border-radius: 10px;
  background: var(--Shaft);
  margin: 25px  0;
}
.description{
    opacity: 0.7;
}