RewriteEngine on

# convert path after `profile/` to `username` part of GET request
# if username regex changed here als ochange in .htaccess of web root directory

#as we are allowing . for username so check if there any file/dir exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9\._]+)/$ profile.php?username=$1 [QSA] # for / at last
RewriteRule ^([a-zA-Z0-9\._]+)$ profile.php?username=$1 [QSA]  # without / at last