body {
  display: flex;
  flex-direction: column;
}

#Main > *{
  position: relative;
  box-sizing: border-box;
  margin: 20px 0;
}
.impressionContainer,
.moreInfo{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
.impressionContainer{
  flex-grow: 1;
}
.impr{
  margin: 10px 15px;
  position: relative;
  padding: 15px 30px;
  display: inline-flex;
  cursor: pointer;
  flex-flow: column wrap;
  background: var(--color);
  border-radius: 5px;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: var(--White);
  letter-spacing: 1px;
}
.impr:after{
  width: 0;
  background: var(--White);
}
.impr:hover:after,
.impr:focus:after{
  width: 100%;
}
.questionCount,
.followersCount{ --color: #FE2C55; }
.answerCount,
.followingCount{--color: #FF9200;}
.clapCount{--color: #03A87C;}

.impr > .count{
  color: inherit;
  font-size: var(--fontLarge);
}
.impr > span{
  color: inherit;
  margin: 5px;
}
.infoBlock{
  padding: 20px;
  margin: 20px 10px;
  background: var(--Shaft);
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
}
.label {
  font-weight: bold;
  padding: 10px 0;
}
.innerBlock{
  padding: 0 10px;
  flex: 1;
}
.infoBlock .tag{
  font-size: var(--fontSmall);
}
#contactMe a{
  color: inherit;
  cursor: pointer;
  margin-left: 10px;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity .5s;
  word-break: break-all;
  font-size: var(--fontSmall);
}
#contactMe a:hover,
#contactMe a:focus{
  opacity: 1;
}
#contactMe .innerBlock > *{
  margin: 5px 0;
}
/* Tag styling should be aliases from question_entity.css
 * But do not link that whole sheet for this singl element
*/
.tag{
  position: relative;
  display: inline-block;
  border: 1px solid var(--LightDark);
  background: var(--LightDark);
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--LightDark);
  margin: 3px;
  padding: 2px 10px;
  border-radius: 5px;
  transition: opacity .5s;
}
.tag:hover, .tag:focus{
  opacity: 0.8;
}

@media only screen and (max-width: 360px){
  .moreInfo{
    padding-left: 5px;
    padding-right: 5px;
  }
}

    .profileContainer{
        margin: 20px 10px !important;
        border-radius: 10px;
        text-align: center;
        padding: 20px;
          background: var(--Shaft);

    }
    .profileContainer .impr{
      max-width: 200px;
    }

    .profileContainer img {
        width: 200px;
        border-radius: 50%;
        padding: 7px;
        border: 5px solid transparent;
        border-bottom-color: var(--Yellow);
        border-right-color: var(--Red);
        max-width: 100%;
        position: relative;
        transition: border .5s;
    }

    .profileContainer img:hover {
        border-right-color: var(--Yellow);
        border-top-color: var(--Red);
        border-left-color: var(--Niagara);
        border-bottom-color: var(--Purple);
    }
    .profileContainer .profileName {
        font-size: var(--fontLarge);
    }

    .profileContainer .profileIntro {
        font-size: var(--fontSmall);
        color: var(--ShaftI);
    }

    .profileIdentity {
        margin-top: 10px;
        margin-bottom: 20px;
    }


.followBtn,
.profileName{
  display: inline-block;
}
.followBtn{
  padding: 5px 15px;
    background: linear-gradient(to left, #de6262, #ffb88c);
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}