#ProfileEditor{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: 50px 0;
  justify-content: space-between;
  align-items: stretch;
}
.editBlock{
  margin: 20px;
  background: var(--Shaft);
  border-radius: 10px;
  width: 500px;
  padding: 20px;
  text-align: center;
  position: relative;
  display: inline-block;
}
.tag{
  position: relative;
  display: inline-block;
  border: 1px solid var(--LightDark);
  background: var(--LightDark);
  color: var(--White);
  text-decoration: none;
  cursor: pointer;
  border: 1px solid var(--LightDark);
  margin: 3px;
  padding: 2px 10px;
  border-radius: 5px;
  transition: opacity .5s;
  font-size: var(--fontSmall);
}
.tag:hover, .tag:focus{
  opacity: 0.8;
}
.profile_img{
  width: 150px;
  border-radius: 50%;
}
.editBlock > *{
  margin: 5px 0;
}
.edit_icon,
.save_icon,
.addtag_icon{
  color: var(--LightDark);
  transition: color .5s;
  cursor: pointer;
}
.edit_icon{
  position: absolute;
  left: 90%;
  top: 20px;
}
.edit_icon:hover,
.save_icon:hover,
.addtag_icon:hover{
  color: var(--White);
}
.editor{
  display: none;
}
.editBlock > .label{
  opacity: .7;
  border-bottom: 1px solid var(--LightDark);
}
.editBlock > .value{
  margin-top: 20px;
}
.editBlock.active .editor{
  display: block;
}
.editBlock.active .value{
  display: none;
}
.editor{
  margin-top: 20px;
}
.editor > input{
  width: 300px;
  padding: 10px 20px;
  background: transparent;
  outline: none;
  border: 1px solid var(--LightDark);
  border-radius: 5px;
  color: var(--White);
  letter-spacing: 2px;
  font-size: var(--fontPrimary);
  font-family: Rubik, sans-serif;
  text-align: center;
}
.availableTags{
  border: 1px solid var(--White);
  position: absolute;
  padding:  10px;
  max-width: 320px;
  max-height: 100px;
  overflow: auto;
  z-index: 1;
  background: var(--Shaft);
  display: none;
}
.availableTags.active{
  display: block;
}
.availableTags  .tag{
  font-size: var(--fontTiny);
}
#searchAvailableTags{
  padding: 7px 10px;
  background: var(--Shaft);
  border: 1px solid var(--LightDark);
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  color: var(--White);
  letter-spacing: 1.5px;
}
.availableTags .tag.added,
.availableTags .tag.inactive{
  display: none;
}