#Main {
  display: flex;
  margin: 0 40px;
  flex-direction: column;
}

.topInform{
  background: var(--Shaft);
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
  position: relative;
}
.topInform h3,
.topInform ul{
  font-size: 16px;
  opacity: 0.7;
  line-height: 22px;
  margin-left: 15px;
}
.topInform a{
  color: inherit;
}
/* do not touch :9; the input of navbar */
#Main form{
  max-width: 930px;
}
.inp{
  width: 100%;
  margin: 15px 0;
  background: inherit;
  border: 1px solid var(--LightDark);
  color: var(--White);
  padding: 15px 20px;
  border-radius: 10px;
  font-size: var(--fontSmall);
  letter-spacing: 1px;
  letter-spacing: 1.3px;
  line-height: calc(var(--fontSmall) * 1.3);
  outline: none;
  box-sizing: border-box;
}
#QuestionTitle{
  font-weight: 700;
}
.toolbar{
  display: block;
  padding: 5px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 15px;
  border: 1px solid var(--LightDark);
}
textarea{
  height: 250px;
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.tag{
  font-size: var(--fontSmall);
  color: var(--White);
  background: var(--LightDark);
  padding: 3px 10px;
  border-radius: 5px;
  margin: 2px;
  text-decoration: none;
  text-transform: lowercase;
  display: inline-block;
  margin:  3px;
  cursor: pointer;
}
/*Win the selector for input #Main input*/
.inputContainer #QuestionSubmit{
  background: var(--Niagara);
  border-color: var(--Niagara);
  font-weight: bold;
  font-size: var(--fontPrimary);
  cursor: pointer;
  transition: background .5s;
  max-width: 220px;
}
#QuestionSubmit:hover,
#QuestionSubmit:focus{
  background: transparent;
}
.addTag{
  position: relative;
  display: block;
  padding: 10px;
  border: 1px solid var(--LightDark);
  border-radius: 10px;
}
.addTag_icon{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  font-size: var(--fontSmall);
}
.addedTags{
  min-height: 30px;
  padding-right: 20px;
}
.addedTags .tag:hover{
  background: var(--Red);
}
.availableTags{
  display: none;
  position: absolute;
  border: 1px solid var(--White);
  z-index: 1;
  background: var(--Black);
  max-width: 300px;
  right: 10px;
  top: 40px;
  padding: 10px;
  max-height: 150px;
  overflow: auto;
  margin-bottom: 20px;
}
.availableTags > *{
  user-select: none;
}
.availableTags .tag{
  transition: opacity .3s;
}
.availableTags .tag.inactive,
.availableTags .tag.added{
  display: none;
}
.availableTags .tag:hover{
  opacity: .7;
}
.availableTags.active{
  display: block;
}
#searchAvailableTags{
  padding: 10px;
  height: 40px;
  text-transform: lowercase;
}


.trixContainer{
  height: 400px;
  overflow: auto;
  border: 1px solid var(--LightDark);
  margin: 30px 0;
  position: relative;
  display: block;
}